<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <GELF name="graylog" server="graylog.manywho.net" port="12201" />
    </Appenders>
    <Loggers>
        <AsyncLogger name="com.manywho.services.timer" level="all">
            <AppenderRef ref="graylog"/>
        </AsyncLogger>
        <AsyncRoot level="info">
            <AppenderRef ref="console"/>
        </AsyncRoot>
    </Loggers>
</Configuration>